.account-form input {
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 10px;
}

.account-header {
  font-size: 36px;
  margin-top: 20px;
}

.account-screen {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #dce0e6;
}

.account-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

.account-form .bttn-gradient {
  background-color: #39579b;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}

.account-form label {
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}

.user-appointments {
  display: flex;
  flex-direction: column;
}

.display-user-appt {
  margin-bottom: 15px;
  margin-left: 20px;
}

.modal-header {
  align-self: center;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;

}

.account-modal {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.account-modal-body {
  display: flex;
  justify-content: center;
}

.close-modal {
  margin-top: 5px;
}
