.appointments-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  width: 100%;
  height: 100vh;
  background-color: #dce0e6
}


.appointments-form .bttn-simple.bttn-md {
  background: #39579b;
  border-color: #39579b;
  width: 150px;
  text-align: center;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 30px;
}
.dropdown-container h1 {
  font-size: 35px;
  margin-bottom: 30px;
}

.dropdown-container h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

label.dropdown select {
  height: 30px;
}
.dropdown {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 30px;
  margin-bottom: 30px;
}


.location-field {
  height: 30px;
  margin-top: 25px;
  border: solid black 1px;
  width: 800px;
  margin-top: 40px;
}




.details-field {
  border: solid black 1px;
  height: 180px;
  width: 800px;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;

}
