
.navBar-wrapper {
  width: 100vw;
}

.specialty-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.appointments-index-screen {
  height: 100vw;
  width: 100vw;
  background-color: #dce0e6;
  font-family: 'Open Sans', sans-serif;
}

.appointments-index-header {
  font-size: 100%;
  vertical-align: baseline;
  background-color: #dce0e6;
  font-family: 'Open Sans', sans-serif;
}

.date-label {
  margin-left: 20px;
}

.date {
  background-color: white;
  border: solid black 1px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 2px 2px 2px 2px rgba(150,58,59,0.15);
  border-radius: 4px;
  font-size: 20px;
  width: 200px;
  margin-left: 20px;
  z-index: 2;
}


input.date {
  font-family: 'Open Sans', sans-serif;
  height: 40px;
  padding-left: 10px;
  margin-top: 10px;
  z-index: 2;
}

.appointments-header-step {
  margin: 0 auto;
  position: relative;
}

.appointments-header-inner {
  background-color: white;
}

.appointments-main-body button {
  border: solid 1.5px #FFF;
  border-radius: 256px;
  color: #FFF;
  display: block;
  font-size: 16px;
  letter-spacing: .03em;
  line-height: 1.25em;
  margin: 20px auto;
  max-width: 320px;
  height: 41px;
  overflow: hidden;
  padding: 2px 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 320px;
  background: #39579b;
  border-color: #39579b;
}

button.landing-bttn:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

div .logo {
  width: 160px;
  height: 60px;
  align-self: flex-start;
}

.bttn-container {
  justify-content: center;
  align-items: center;
  max-height: 41px;
}

.dash-right-corner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 10px;
  vertical-align: baseline;
  padding-top: 14px;
  margin-right: -300px;
}

.dashboard {
  color: #39579b;
  margin-right: 10px;
  font-size: 23px;
  font-weight: bold;
}

.offer {
  color: #39579b;
  margin-right: 10px;
  font-size: 25px;
  font-weight: bold;
}


.nav-logout {
  color: #39579b;
  font-size: 23px;
  font-weight: bold;
  padding-right: 4px;
  margin-left: 20px;
}

.appointments-welcome-user {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.appointments-main-body h2 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  margin: 15px;
}
.appointments-main-body h3 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
.appointments-overview {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
}

.user-pic {
  width: 87.5px;
  height: 87.5px;
  border-radius: 50%;
  margin-right: 20px;
}

.welcome-pic {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.appointments-overview li {
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

li img {
  font-size: 1.25em;
  height: 50px;
  width: 55px;
  border-radius: 50%;
  text-align: center;
  line-height: 43px;
  font-weight: 600;
  margin-top: 7px;
  padding-bottom: 8px;
  padding-right: 8px;
}
.appointments-overview li {
  display: flex;
  font-size: 20px;
  margin: 15px;
}



.specialties {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  font-size: 20px;
  margin: 15px;
  font-family: 'Open Sans', sans-serif;
}

.specialties li {
  display: list-item;
  list-style-type: disc;
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
}

.specialties-top {
  margin: 15px;
  margin-top: 5px;
}

.specialties-bottom {
  margin: 15px;
  margin-top: 5px;
}

.appointments-main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
