
.navBar-wrapper {
  width: 100vw;
}

.appointments-index-screen {
  height: 100vw;
  width: 100vw;
  background-color: #dce0e6;
}

.appointments-index-header {
  font-size: 100%;
  vertical-align: baseline;
  background-color: #dce0e6;
}


.appointments-header-step {
  margin: 0 auto;
  position: relative;
}

.appointments-header-inner {
  background-color: white;
}

.appointments-main-body button {
  background: #39579b;
  border-color: #39579b;
  align-self: center;
  width: 600px;
  padding-bottom: 10px;
  font-size: 18px;
}

div .logo {
  width: 160px;
  height: 60px;
  align-self: flex-start;
}

.bttn-container {
  justify-content: center;
  align-items: center;
}

.dash-right-corner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 10px;
  vertical-align: baseline;
  padding-top: 14px;
}

.dashboard {
  color: #39579b;
  margin-right: 10px;
  font-size: 25px;
  font-weight: bold;
}

.offer {
  color: #39579b;
  margin-right: 10px;
  font-size: 25px;
  font-weight: bold;
}


.nav-logout {
  color: #39579b;
  font-size: 25px;
  font-weight: bold;
  padding-right: 4px;
  margin-left: 20px;
}

.appointments-welcome-user {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.appointments-main-body h2 {
  font-size: 20px;
}
.appointments-main-body h4 {
  font-size: 20px;
}
.appointments-overview {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.user-pic {
  width: 87.5px;
  height: 87.5px;
  border-radius: 50%;
  margin-right: 20px;
}

.welcome-pic {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.appointments-overview li {
  align-items: center;
}
li img {
  font-size: 1.25em;
  height: 50px;
  width: 55px;
  border-radius: 50%;
  text-align: center;
  line-height: 43px;
  font-weight: 600;
  margin-top: 7px;
  padding-bottom: 8px;
  padding-right: 8px;
}
.appointments-overview li {
  display: flex;
  font-size: 20px;
  margin: 15px;
}



.specialties {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  font-size: 20px;
  margin: 15px;
}

.specialties li {
  display: list-item;
  list-style-type: disc;
  margin: 10px;
}

.specialties-top {
  margin: 20px;
}

.specialties-bottom {
  margin: 20px;
}

.appointments-main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
