.appt-ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.appt-li {
  margin: 15px;
}

.appt-key {
  margin-bottom: 10px;
}

.back-icon {
  -webkit-transform: scale(0.07);
  transform: scale(0.07);
  margin: 0px;
}

.booking-main {
  background-color: #dce0e6;
  background-image: url("https://res.cloudinary.com/dq5wzf090/image/upload/v1505437161/hospital_pic_wn0xkt.jpg");
  height: 100vh;
  width: 100%;
  z-index: -10;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.booking-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 40px;
}

.booking-form .landing-bttn {
  border: solid 1.5px #FFF;
  border-radius: 256px;
  color: #FFF;
  display: block;
  font-size: 16px;
  letter-spacing: .03em;
  line-height: 1.25em;
  margin: 20px auto;
  max-width: 320px;
  height: 41px;
  overflow: hidden;
  padding: 2px 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 320px;
  background: #39579b;
  border-color: #39579b;
}

.booking-form .landing-bttn-2 {
  background-color: transparent;
  border: solid 3.5px #FFF;
  border-radius: 256px;
  color: white;
  font-weight: bold;
  display: block;
  font-size: 16px;
  letter-spacing: .03em;
  line-height: 1.25em;
  margin: 20px auto;
  max-width: 320px;
  height: 41px;
  overflow: hidden;
  padding: 2px 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 320px;;
  margin-bottom: 30px;
}

.appt-key {
  font-weight: bold;
}

.booking-bg {
  background-color: #dce0e6;
  font-family: 'Open Sans', sans-serif;
}

.booking-form {
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.booking-bg h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin: 10px;
  margin-bottom: 20px;
  z-index: 10;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.booking-bg h2 {
  font-size: 25px;
  margin: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  z-index: 10;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.booking-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  margin: 10px;
}

.booking-form label {
  display: flex;
  flex-direction: column;
}
