.appt-ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.appt-li {
  margin: 15px;
}

.appt-key {
  margin-bottom: 10px;
}

.back-icon {
  -webkit-transform: scale(0.07);
  transform: scale(0.07);
  margin: 0px;
}


.booking-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 40px;
}

.booking-form .landing-bttn {
  border: solid 1.5px #FFF;
  border-radius: 256px;
  color: #FFF;
  display: block;
  font-size: 16px;
  letter-spacing: .03em;
  line-height: 1.25em;
  margin: 20px auto;
  max-width: 320px;
  height: 41px;
  overflow: hidden;
  padding: 2px 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 320px;
  background: #39579b;
  border-color: #39579b;
}

.appt-key {
  font-weight: bold;
}

.booking-bg {
  height: 100vw;
  background-color: #dce0e6;
  margin-top: 20px;
}

.booking-form {
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
  background-color: #dce0e6;
  width: 100vw;
}
.booking-bg h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin: 10px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
}

.booking-bg h2 {
  font-size: 25px;
  margin: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.booking-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  margin: 10px;
}

.booking-form label {
  display: flex;
  flex-direction: column;
}
