.doctor-item {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 20px;
}

.doc-show-bg {
  height: 100vh;
  width: 100vw;
  background-color: #dce0e6;
}

.doctor-item .landing-bttn {
  background: #39579b;
}
