.doctor-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 20px;
  font-family: sans-serif;
}

.doctor-details1 {

}

.doc-bio {
  margin-left: 30px;
  max-width: 800px;
  font-family: sans-serif;
}

.doc-show-bg {
  height: 100vh;
  width: 100vw;
  background-color: #dce0e6;
}

.doctor-item .landing-bttn {
  background: #39579b;
}


.doctor-show-image {
  height: 500px;
  margin-bottom: 15px;
}
