.doctor-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 20px;
  font-family: sans-serif;
}

.doctor-detail-specialty {
  text-transform: capitalize;
}

.bio-label {
  margin-bottom: 15px;
}

.doctor-bio {
  margin: 10px;
  align-self: center;
}

.doc-bio {
  margin-left: 50px;
  max-width: 800px;
  font-family: sans-serif;
  font-size: 25px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
}

.doc-show-bg {
  height: 100vh;
  width: 100vw;
  background-color: #dce0e6;
}

.doctor-item .landing-bttn {
  background: #39579b;
}


.doctor-show-image {
  height: 500px;
  margin-bottom: 15px;
}
