.doctor-item .landing-bttn {
  border: solid 1.5px #FFF;
  border-radius: 256px;
  color: #FFF;
  display: block;
  font-size: 16px;
  letter-spacing: .03em;
  line-height: 1.25em;
  margin: 20px auto;
  max-width: 320px;
  height: 41px;
  overflow: hidden;
  padding: 2px 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 320px;
  background: #39579b;
  border-color: #39579b;
  font-family: sans-serif;
}

.doctors-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  margin: 60px;
  margin-bottom: 30px;
}

.doc-header {
  font-size: 40px;
  font-family: sans-serif;
  align-self: center;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
}

.doc-info {
  display: flex;
  flex-direction: column;
  margin: 40px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.doc-info:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
}

.doc-list-step li {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.doc-list-bg {
  background-color: #dce0e6;
}


li .doctor-image {
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

li .doctor-image:hover {

}

.doc-list-step {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
}

.doctor-image {
  height: 180px;
  width: 180px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 20px;
}



.doc-index {
  height: 100vh;
  background-color: #dce0e6;
}
