.doctor-item .landing-bttn {
  border: solid 1.5px #FFF;
  border-radius: 256px;
  color: #FFF;
  display: block;
  font-size: 16px;
  letter-spacing: .03em;
  line-height: 1.25em;
  margin: 20px auto;
  max-width: 320px;
  height: 41px;
  overflow: hidden;
  padding: 2px 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 320px;
  background: #39579b;
  border-color: #39579b;
  font-family: 'Open Sans', sans-serif;
}

.doctors-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  margin: 60px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}

.doc-header {
  font-size: 55px;
  font-family: 'Open Sans', sans-serif;
  align-self: center;
  margin-bottom: 5px;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  font-weight: bolder;
  z-index: 10;
  color: white;
  text-transform: capitalize;
}

.doc-info {
  display: flex;
  flex-direction: column;
  margin: 40px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  font-weight: bolder;
  z-index: 10;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  margin-top: 5px;
  align-items: center;
}

.doc-info:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  text-shadow: 2px 2px 4px black, 0 0 1em black, 0 0 0.2em black;
  font-weight: bolder;
}

.doc-list-step li {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.alternate-bg {
  background-color: #dce0e6;
  background-image: url("https://res.cloudinary.com/dq5wzf090/image/upload/v1505437161/hospital_pic_wn0xkt.jpg");
  height: 100%;
  width: 100%;
  z-index: -10;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}



.doc-list-bg {
  background-color: #dce0e6;
  background-image: url("https://res.cloudinary.com/dq5wzf090/image/upload/v1505437161/hospital_pic_wn0xkt.jpg");
  height: 100%;
  width: 100%;
  z-index: -10;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: multiply;
}


li .doctor-image {
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
  z-index: 10;
  background-color: lightblue;
}

li .doctor-image:hover {

}

.doc-list-step {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.doctor-image {
  height: 220px;
  width: 180px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 20px;
}



.doc-index {
  height: 100vh;
  background-color: #dce0e6;
}
