.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
}

.home-screen {
  display: flex;
  height: calc(100vh - 60px);
  width: calc(100vw);
}

.home-header {
  color: #39579b;
  font-weight: bold;
  display: block;
  margin: .67em 0;
  margin-top: 19px;
  margin-bottom: 12px;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: 60px;
  font-size: 70px;
  text-shadow: white 0px 0px 10px;
  font-family: 'Open Sans', sans-serif;
}

.home-subheader {
  color: #39579b;
  font-size: 40px;
  font-weight: bold;
  display: block;
  margin: .67em 0;
  margin-top: 12px;
  margin-bottom: 9.5px;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: 35px;
  text-shadow: white 0px 0px 10px;
  font-family: 'Open Sans', sans-serif;
}

.home-footer{
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  align-self: flex-end;
  width: 100%;
}

.github {
  height: 40px;
  width: 40px;
}
.linkedin {
  height: 40px;
  width: 40px;
}
.myLine {
  margin: 10px;
  color: white;
  text-shadow: black 0px 0px 5px;
}

.myLinks{
  display: flex;
  justify-content: center;
  align-items: center;
}

.myLinks > a{
  padding: 0px 10px;
}

.myLinks > a > .fa{
  color: white;
  font-size: 25px;
}

.myLinks > a > .fa:hover{
  opacity: 0.5;
}
