.landing-screen {
  display: table;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9000;
}

.background-wrapper {
  background-position: center;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  background-image: url("http://res.cloudinary.com/dq5wzf090/image/upload/v1500604965/doc_main_u8ggjl.jpg");
}

.background-wrapper:before {
  background-color: rgba(0,0,0,0.5);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.landing-wrapper {
  margin: 0 auto;
  position: relative;
  width: 1040px;
}

body .landing-wrapper {
  box-sizing: border-box;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 1em;
  outline: 0 none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}

.landing-spread {
  display: table;
  margin: 0 auto;
  table-layout: fixed;
  width: 100%;
}

.signup-flow {
  width: 410px;
  display: table-cell;
  opacity: 1;
  visibility: visible;
}

.signup-flow-outer {
  width: 410px;
}

.signup-flow-inner {
  width: 410px;
  padding: 45px;
}

.landing-logo {
  margin-top: 60px;
}

.landing-logo img {
    display: block;
    height: 130px;
    margin: 0 auto;
    width: 350px;
}

.landing-bttn {
  border: solid 1.5px #FFF;
  border-radius: 256px;
  color: #FFF;
  display: block;
  font-size: 13px;
  letter-spacing: .03em;
  line-height: 1.25em;
  margin: 20px auto;
  max-width: 320px;
  height: 41px;
  overflow: hidden;
  padding: 2px 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.landing-screen .landing-bttn {
  background: #39579b;
  border-color: #39579b;
}


.landing-bttn-2 {
  background-color: transparent;
  border: solid 3.5px #FFF;
  border-radius: 256px;
  color: black;
  font-weight: bold;
  display: block;
  font-size: 16px;
  letter-spacing: .03em;
  line-height: 1.25em;
  margin: 20px auto;
  max-width: 320px;
  height: 41px;
  overflow: hidden;
  padding: 2px 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 30px;
}

.landing-bttn-2:hover {
  color: crimson;
  font-weight: bolder;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
}

.landing-overview {
  padding: 45px;
  position: relative;
  width: 630px;
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  line-height: 34px;
}

.landing-overview h1 {
  color: white;
  font-weight: bold;
  display: block;
  margin: .67em 0;
  margin-top: 19px;
  margin-bottom: 9.5px;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: 60px;
  font-size: 50px;
}

.landing-overview h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin: .67em 0;
  margin-top: 19px;
  margin-bottom: 9.5px;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: 35px;
}

.landing-overview ul {
  color: white;
  margin-top: 0;
  margin-bottom: 9.5px;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.landing-overview li {
  font-size: 1.25em;
  list-style-type: none;
  margin: 0;
  padding: .225em 0 .625em 2.250em;
  vertical-align: middle;
  display: list-item;
  list-style-type: disc;
}

.landing-overview:before {
  border-left: solid 1px #999;
  content: "";
  height: 430px;
  left: 0;
  margin-top: -215px;
  position: absolute;
  top: 50%;
  width: 0;
}


.policy-terms {
  color: #999;
  padding: 0 20px 30px;
  position: relative;
  text-align: center;
  font-size: 12px;
  line-height: 1.4;
}

.policy-terms:after {
  border-bottom: solid 1.5px #FFF;
  bottom: 0;
  content: "";
  display: block;
  left: 50%;
  margin: 0 -25px;
  position: absolute;
  width: 50px;
}

.signup-flow-footer {
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  line-height: 1.4;
}
