.login-signup-background {
 background-image: url("https://res.cloudinary.com/dq5wzf090/image/upload/q_100/v1500604965/doc_main_u8ggjl.jpg");
 background-size: cover;
 height: 100%;
 width: 100%;
 background-attachment: fixed;
 position: fixed;
 z-index: -1;
}
