/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .main-background {
  background: url(http://res.cloudinary.com/dq5wzf090/image/upload/q_100/v1500604965/doc_main_u8ggjl.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  position: fixed;
  z-index: -1;
}

.login-signup-forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: medium solid black;
  color: black;
  background-color: white;
}
